.button-container {
  padding-top: 50px;
  text-align: right;
  &.notfound {
    text-align: center;
    .btn {
      margin: 20px;
      @media (max-width: 497px){
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }
}