.btn {
  padding: 15px 20px;
  border: 1px solid $blue;
  background: transparent;
  color: $blue;
  border-radius: 0;
  text-transform: capitalize;
  font-size: 20px;

  @include transition(300ms);
  &:hover {
    background-color: $blue;
    color: #ffffff;
  }
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}