footer {
  height: auto;
  margin-top: 100px;

  .news-letter-container {
    background-color: #F8D406;
    padding-top: 20px;
    padding-bottom: 20px;
    form {
      h2{
        font-size: 20px;
        color: #283554;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
      }
      .form-group {
        display: table;
        margin: 0 auto;
        margin-bottom: 20px;
        input {
          float: left;
          border: 2px solid $blue;
          border-right: none;
          height: 37px;
          border-radius: 0;
          box-shadow: none;
          width: 300px;
          margin-top: 0;
          @media (max-width: 480px) {
            width: 100%;
            border-right: 2px solid $blue;
          }
          @media (max-width: 991px) and (min-width: 768px){
            width: 100%;
            border-right: 2px solid $blue;
          }
        }
        button {
          float: left;
          color: $blue;
          height: 37px;
          padding: 8px 15px;
          text-transform: capitalize;
          background-color: #d3d3d3;
          border: 2px solid $blue;
          cursor: not-allowed;
          font-weight: bold;
          @include transition(300ms);
          @media (max-width: 991px) and (min-width: 768px){
            width: 100%;
            border-top: 0;
          }
          @media (max-width: 480px) {
            width: 100%;
            border-top: 0;
          }
          &.active {
            background-color: $blue;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }

  .info-container {
    background-color: #00457E;
    padding-top: 30px;
    padding-bottom: 30px;

    .table {
     margin: 0;
      .table-row {
        border-bottom: none !important;
        margin-bottom: 0;
        @media (max-width: 991px){
          margin-bottom: 10px;
          display: block;
        }
        &:before {
          display: none;
        }
        .table-cel {
          font-size: 16px;
          padding:0;
          width: auto;
          @media (max-width: 991px) {
            width: 100%;
            display: block;
          }
          @media (max-width: 767px){
            text-align: center;
          }
          p {
            color: #fff;
              @media (max-width: 991px) {
                margin: 0;
              }
            }
          a {
            color: #fff;
            @include transition(300ms);
            &:hover {
              color: $oker;
            }
          }
        }
      }
    }
    .list-wrapper {
      display: flex;
      @media (max-width: 970px) {
        flex-direction: column;
      }
    }
    ul {
      list-style: none;

      li {
        color: #fff;
        @include transition(300ms);
        &:hover {
          color: $oker;
        }
      }
      &.social-icons {
        text-align: right;
        list-style: none;
        @media(max-width: 970px){
          margin-top: 20px;
          width: 100%;
          padding: 0;
        }
        li {
          display: inline-block;
          &:first-of-type{
            margin-right: 20px;
          }
          @media(max-width: 970px){
            margin-top: 20px;
            display: block;
            width: 100%;
            text-align: center;
          }
          img {
            @media(max-width: 970px){
             height: 30px;
              width: auto;
            }
          }
        }
      }
      &.sitemap {
        p {
          color: #ffffff;
        }
        flex: 1;
        width: 100px;
        margin: 0 auto;
        text-transform: capitalize;

        @media(max-width: 970px){
          margin-top: 20px;
          width: 100%;
          text-align: center;
          list-style: none;
          padding: 0;
        }
        @media(min-width: 970px){
          padding: 0;
        }
      }
    }
  }
}